.mue-calendar-date {
  text-align: center;
  width: 65px;
  color: $lagoon;
  padding: 0 0 3px;
  border-radius: 4px;

  p {
    margin: 0;
  }

  &.weekend{
    color: $bruise;
  }

  &.today {
    color: $banana;
  }

  .mue-calendar-date-number {
    font-size: 30px;
    line-height: 34px;
  }
}