<div class="panel mue-panel mue-form-panel mue-event-add">
    <form>
        {{event | json}}
        <div class="mue-form-group-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-banana btn-action btn-sm" ng-click="create()">
                            <i class="fa fa-plus mue-icon"></i>
                            <span>Create</span>
                        </button>
                        <button type="button" class="btn btn-neutral" ui-sref="app.main">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <div class="form-control-icon">
                            <input type="text" name="title" class="form-control" placeholder="Title"
                                   ng-model="event.title">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-group" data-el="date-picker-region">
                                    <div class="mue-date-picker">
                                        <div class="form-group">
                                            <div class="form-control-icon">
                                                <i class="fa fa-calendar mue-icon"></i>
                                                <input ng-click="dateClickHandler()" type="text" placeholder="Choose date" class="form-control"
                                                       datepicker-popup="{{format}}"
                                                       show-weeks="false"
                                                       ng-model="event.start" is-open="date.opened"
                                                       datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" close-text="Close"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group" data-el="all-day-region">
                                <div class="mue-event-add-time-item" data-el="time-start-picker-region">
                                    <div class="mue-time-picker">
                                        <div class="form-group">
                                            <label>
                                                <div class="form-control-icon">
                                                    <i class="fa fa-clock-o mue-icon"></i>
                                                    <input type="text" class="form-control ui-timepicker-input"
                                                           placeholder="Choose time" autocomplete="off">
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <span class="mue-event-add-time-separate">to</span>

                                <div class="mue-event-add-time-item" data-el="time-end-picker-region">
                                    <div class="mue-time-picker">
                                        <div class="form-group">
                                            <label>

                                                <div class="form-control-icon">
                                                    <i class="fa fa-clock-o mue-icon"></i>
                                                    <input type="text" class="form-control ui-timepicker-input"
                                                           data-el="time" placeholder="Choose time" autocomplete="off">
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <select name="calendarId">


                            <option value="55bc681551b1bbd6199578e7">Birthday</option>
                            <option value="55bc78c551b1bbd6199578f4">Event</option>
                            <option value="55bf1194748d2ccb1fc33ca9">Weeding</option>
                            <option value="55bf8bb7748d2ccb1fc33cb9">Work</option>
                            <option value="55c0e6cc589b923748de87c0">Holidays</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <div>
                                <label>
                                    <input name="isAllDay" type="checkbox"> All day
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input name="isRepeat" type="checkbox"> Repeat
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group hidden" data-el="is-repeat-region">
                        <div class="form-group">
                            <select name="repeatType">


                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Monthly</option>
                                <option value="4">Yearly</option>
                            </select>
                        </div>

                        <div class="form-group hidden" data-el="repeat-days-region">
                            <div class="checkbox">
                                <div>
                                    <label>
                                        Sunday
                                        <input value="0" type="checkbox">
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        Monday
                                        <input value="1" type="checkbox">
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        Tuesday
                                        <input value="2" type="checkbox">
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        Wednesday
                                        <input value="3" type="checkbox">
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        Thursday
                                        <input value="4" type="checkbox">
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        Friday
                                        <input value="5" type="checkbox">
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        Saturday
                                        <input value="6" type="checkbox">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input data-el="end-date-checker" name="ends" type="checkbox"> Ends
                                </label>
                            </div>
                        </div>

                        <div class="form-group" data-el="end-date-picker-region">
                            <div class="mue-date-picker">
                                <div class="form-group">
                                    <label>
                                        End date
                                        <div class="form-control-icon">
                                            <i class="fa fa-calendar mue-icon"></i>
                                            <input type="text" class="form-control" data-el="time"
                                                   placeholder="Choose time" disabled="">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="messages"></div>
    </form>
</div>