<div class="panel mue-panel mue-form-panel mue-event-add">
    <form>
        <div class="mue-form-group-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-banana btn-action btn-sm" ng-click="create()">
                            <i class="fa fa-plus mue-icon"></i>
                            <span>Create</span>
                        </button>
                        <button type="button" class="btn btn-neutral" ui-sref="app.main">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <div class="form-control-icon">
                            <input type="text" name="title" class="form-control" placeholder="Title"
                                   ng-model="event.title">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-control-icon">
                                    <i class="fa fa-calendar mue-icon"></i>
                                    <input ng-click="dateClickHandler()"
                                           type="text"
                                           placeholder="Choose date"
                                           class="form-control"
                                           datepicker-popup="{{datePicker.format}}"
                                           show-weeks="false"
                                           ng-model="event.start"
                                           is-open="datePicker.opened"
                                           datepicker-options="dateOptions"/>
                                </div>
                            </div>
                            <div class="form-group" data-el="all-day-region" ng-if="!event.isAllDay">
                                <timepicker class="pull-left" ng-model="event.start" hour-step="startTimepicker.hstep"
                                            minute-step="startTimepicker.mstep"
                                            show-meridian="startTimepicker.ismeridian"></timepicker>
                                <span class="pull-left">&nbsp;&nbsp;&nbsp;</span>
                                <timepicker readonly-input="endTimepicker.readOnly" class="pull-left"
                                            ng-model="event.end" hour-step="endTimepicker.hstep"
                                            minute-step="endTimepicker.mstep"
                                            show-meridian="endTimepicker.ismeridian"></timepicker>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <select ng-model="event.calendarId"
                                ng-options="calendar._id as calendar.name for calendar in clrConfig.calendars"></select>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <div>
                                <label>
                                    <input type="checkbox" ng-model="event.isAllDay"> All day
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" ng-model="event.isRepeat"> Repeat
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-show="event.isRepeat">
                        <div class="form-group">
                            <select ng-model="event.repeatType"
                                    ng-options="type.value as type.name for type in repeatType"></select>
                        </div>

                        <div ng-show="event.repeatType == 2">
                            <div ng-repeat="day in days">
                                <label>
                                    {{day.name}}
                                    <input value="{{day.value}}" type="checkbox"
                                           ng-click="toggleDaysSelection(day.value)">
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="repeatEnd"> Ends
                                </label>
                            </div>
                        </div>

                        <div class="form-group" ng-if="repeatEnd">
                            <div class="form-control-icon">
                                <i class="fa fa-calendar mue-icon"></i>
                                <input ng-click="dateEndClickHandler()"
                                       type="text"
                                       placeholder="Choose date"
                                       class="form-control"
                                       datepicker-popup="{{endDatePicker.format}}"
                                       show-weeks="false"
                                       ng-model="event.repeatEnd"
                                       is-open="endDatePicker.opened"
                                        />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="messages"></div>
    </form>
</div>