.mue-calendar-agenda {
  .mue-calendar-agenda-event-create {
    border: 1px dashed $cutlass;
    padding: 13px 15px;
    color: $cutlass;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 4px;
  }

  .mue-calendar-agenda-event {
    border: none;
    margin-bottom: 5px;
    position: relative;

    &:hover {
      .mue-calendar-agenda-event-actions {
        display: block;
      }
    }

    .panel-body {
      border-radius: 4px;
      padding: 10px 15px;
    }

    .mue-calendar-agenda-event-title {
      font-weight: bold;
    }

    .mue-calendar-agenda-event-actions {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 14px;
      display: none;
    }

    .mue-calendar-agenda-event-description {
      font-weight: 100;
    }

    &.mue-calendar-color-banana {
      .panel-body {
        color: white;
        background: $banana;
      }
    }

    &.mue-calendar-color-lagoon {
      .panel-body {
        color: white;
        background: $lagoon;
      }
    }
  }
}