<div class="panel mue-panel mue-calendar-agenda-event mue-calendar-color-lagoon">
    <div class="panel-body">
        <div class="mue-calendar-agenda-event-title">{{clrConfig.eventData.event.title}}</div>
        <div class="mue-calendar-agenda-event-description">{{clrConfig.eventData.event.description}}</div>

        <div ng-if="clrConfig.eventData.event.isAllDay">
            <i class="fa fa-circle-thin mue-icon"></i>
            All day
        </div>

        <div ng-if="!clrConfig.eventData.event.isAllDay">
            <i class="fa fa-clock-o mue-icon"></i>
            {{clrConfig.eventData.event.start | date : 'HH:mm'}} - {{clrConfig.eventData.event.end | date : 'HH:mm'}}
        </div>

        <div class="mue-calendar-agenda-event-actions">
            <button title="remove" class="btn btn-bruise btn-xs" ng-click="edit()">
                <i class="fa fa-pencil mue-icon"></i>
            </button>
            <button title="remove" class="btn btn-strawberry btn-xs" ng-click="remove()">
                <i class="fa fa-close mue-icon"></i>
            </button>
        </div>
    </div>
</div>