<div class="mue-calendar-manager">
    <div class="panel mue-panel mue-panel-wide mue-panel-lagoon">
        <div class="panel-heading">
            {{title}}
        </div>
        <div class="panel-body">
            <mue-list-group mue-config="listConfig"></mue-list-group>
            <ul class="mue-toolbar-action mue-toolbar-action-horizontal mue-toolbar-action-dark">
                <li>
                    <button class="btn btn-clear" ng-click="createNew = true">
                        <i class="fa fa-plus mue-icon"></i>
                    </button>
                </li>
                <li>
                    <button class="btn btn-clear" ng-click="selectAll()">
                        <i class="fa fa-check-square-o mue-icon"></i>
                    </button>
                </li>
                <li>
                    <button class="btn btn-clear" ng-click="deselectAll()">
                        <i class="fa fa-square-o mue-icon"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="calendar-manager-footer">
        <clr-calendar-create ng-if="createNew" clr-config="createCalendarConfig"></clr-calendar-create>
    </div>
</div>