<div class="panel mue-panel mue-calendar-agenda">
    <div class="panel-body">
        <div class="mue-agenda-days">
            <div class="mue-calendar-agenda-day">
                <div class="row">
                    <div class="col-md-2">
                        <div class="mue-calendar-date today ">
                            <p class="mue-calendar-date-number">29</p>
                            <p>Tue, Sep</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mue-calendar-agenda-event-create">
                            <span>Add new</span>
                        </div>
                        <div class="new-event-region"></div>
                    </div>
                </div>
                <br>
            </div>
            <div class="mue-calendar-agenda-day">
                <div class="row">
                    <div class="col-md-2">
                        <div class="mue-calendar-date  ">
                            <p class="mue-calendar-date-number">30</p>

                            <p>Wed, Sep</p>
                        </div>
                    </div>

                    <div class="col-md-6">


                        <div data-link="newEvent" class="mue-calendar-agenda-event-create">
                            <span>Add new</span>
                        </div>
                        <div class="new-event-region"></div>
                    </div>
                </div>
                <br></div>
            <div class="mue-calendar-agenda-day">
                <div class="row">
                    <div class="col-md-2">
                        <div class="mue-calendar-date  ">
                            <p class="mue-calendar-date-number">01</p>

                            <p>Thu, Oct</p>
                        </div>
                    </div>

                    <div class="col-md-6">


                        <div data-link="newEvent" class="mue-calendar-agenda-event-create">
                            <span>Add new</span>
                        </div>
                        <div class="new-event-region"></div>
                    </div>
                </div>
                <br></div>
            <div class="mue-calendar-agenda-day">
                <div class="row">
                    <div class="col-md-2">
                        <div class="mue-calendar-date  ">
                            <p class="mue-calendar-date-number">02</p>

                            <p>Fri, Oct</p>
                        </div>
                    </div>

                    <div class="col-md-6">


                        <div data-link="newEvent" class="mue-calendar-agenda-event-create">
                            <span>Add new</span>
                        </div>
                        <div class="new-event-region"></div>
                    </div>
                </div>
                <br></div>
            <div class="mue-calendar-agenda-day">
                <div class="row">
                    <div class="col-md-2">
                        <div class="mue-calendar-date  weekend">
                            <p class="mue-calendar-date-number">03</p>

                            <p>Sat, Oct</p>
                        </div>
                    </div>

                    <div class="col-md-6">


                        <div data-link="newEvent" class="mue-calendar-agenda-event-create">
                            <span>Add new</span>
                        </div>
                        <div class="new-event-region"></div>
                    </div>
                </div>
                <br></div>
            <div class="mue-calendar-agenda-day">
                <div class="row">
                    <div class="col-md-2">
                        <div class="mue-calendar-date  weekend">
                            <p class="mue-calendar-date-number">04</p>

                            <p>Sun, Oct</p>
                        </div>
                    </div>

                    <div class="col-md-6">


                        <div data-link="newEvent" class="mue-calendar-agenda-event-create">
                            <span>Add new</span>
                        </div>
                        <div class="new-event-region"></div>
                    </div>
                </div>
                <br></div>
            <div class="mue-calendar-agenda-day">
                <div class="row">
                    <div class="col-md-2">
                        <div class="mue-calendar-date  ">
                            <p class="mue-calendar-date-number">05</p>

                            <p>Mon, Oct</p>
                        </div>
                    </div>

                    <div class="col-md-6">


                        <div data-link="newEvent" class="mue-calendar-agenda-event-create">
                            <span>Add new</span>
                        </div>
                        <div class="new-event-region"></div>
                    </div>
                </div>
                <br></div>
            <div class="mue-calendar-agenda-day">
                <div class="row">
                    <div class="col-md-2">
                        <div class="mue-calendar-date  ">
                            <p class="mue-calendar-date-number">06</p>

                            <p>Tue, Oct</p>
                        </div>
                    </div>

                    <div class="col-md-6">


                        <div data-link="newEvent" class="mue-calendar-agenda-event-create">
                            <span>Add new</span>
                        </div>
                        <div class="new-event-region"></div>
                    </div>
                </div>
                <br></div>
        </div>
    </div>
</div>